spring:
  profiles:
    active:
      on-profile: prod
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    hikari:
      pool-name: jpa-hikari-pool
      maximum-pool-size: 5
      jdbc-url: ${spring.datasource.url}
      username: ${spring.datasource.username}
      password: ${spring.datasource.password}
      driver-class-name: ${spring.datasource.driver-class-name}
      data-source-properties:
        rewriteBatchedStatements: true

  # JPA 설정
  jpa:
    generate-ddl: true
    hibernate:
      ddl-auto: validate
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL8Dialect
        hbm2ddl.import_files_sql_extractor: org.hibernate.tool.hbm2ddl.MultipleLinesSqlCommandExtractor
        current_session_context_class: org.springframework.orm.hibernate5.SpringSessionContext
        default_batch_fetch_size: ${chunkSize:100}
        jdbc.batch_size: 20
        order_inserts: true
        order_updates: true
        format_sql: true
  jackson:
    serialization:
      fail-on-empty-beans: false
  redis:
    host: k7d103.p.ssafy.io
    port: 6379
    password: ${spring.redis.password}
server:
  servlet:
    context-path: /api

security:
  jwt:
    token:
      secret-key: nawanolza
      expire-length: 1800000

kakao:
  client_id: 79a60227e8d4d465f7b303d472b3cd99
  redirect_uri: http://localhost:8080/api/auth/kakao/callback